<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="server=92bbddb5-1fce-44ab-aba2-a2af0090b777.mysql.sequelizer.com;database=db92bbddb51fce44ababa2a2af0090b777;uid=ocwcchnyfqnmuzno;pwd=tLx6tqWEMEEPMWbr4dVwR7gTvzxJAE756TtTrdssqvAHUXtxKpGShiYuELH22mdg" />
  </connectionStrings>
</configuration>